<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grant Policy</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</head>
<body>
    
<h1><center>Welcome to Policy Grant Page</center></h1>


<div class="container">
    <form method="post">
        {%csrf_token%}
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Full Name</label>
            <input type="text" name="fullname" value="{{policyid.fullname}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Age</label>
            <input type="integer" name="age" value="{{policyid.age}}" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Place</label>
            <input type="text" name="place" value="{{policyid.place}}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>


        <!-- Radio button for gender -->
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Gender</label>
            <select class="form-select"  name="gender" value="{{policyid.gender}}" aria-label="Default select example">
                <option selected>Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
            </select>
        </div>
        <!-- Radio button end -->


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Profession</label>
            <input type="text" name="profession" value="{{policyid.profession}}" class="form-control" id="exampleInputPassword1">
        </div>


        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Mobile Number</label>
            <input type="tel" name="mobile_number" value="{{policyid.mobile_number}}" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Email</label>
            <input type="email" name="mail" value="{{policyid.mail}}" class="form-control" id="exampleInputPassword1">
        </div>



        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Select Your Insurance</label>
            <select class="form-select" name="select_type" value="{{policyid.select_type}}" aria-label="Default select example">
                <!-- <option selected>Types of Insurance</option> -->
                <option value="bronze">Bronze &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ₹450/month</option>
                <option value="silver">Silver &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ₹600/month</option>
                <option value="gold">Gold &nbsp&nbsp &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp ₹750/month</option>
                <option value="platinum">Platinum &nbsp&nbsp&nbsp ₹900/month</option>
            </select>
        </div>
        <div class="mb-3">
        <select class="form-select" name="grant_policy" value="{{policyid.grant_policy}}" aria-label="Default select example">
            <!-- <option selected>Types of Insurance</option> -->
            <option value="Pending">Pending</option>
            <option value="Approved">Approved</option>
            
        </select></div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>



</body>
</html>